<label ng-if="!item.headerText" builder-label-required data="item" for="{{item.id}}">{{item.label}}</label>
<label ng-if="item.headerText" builder-label-required data="item" for="{{item.id}}">{{item.headerText}}</label>
<br />
<input
  id="{{item.id}}"
  type="file"
  name="{{item.fieldName}}"
  builder-model="item.value"
  placeholder="{{item.placeholder}}"
  data-parsley-excluded="false"
  data-parsley-trigger="change"
  builder-validations validations="item" />
<div id="error-for-{{item.id}}"></div>